

{% if attributes.class %}
  <div{{ attributes }}>
{% endif %}

{% if not label_hidden %}
{% set title_class = label_display == 'visually_hidden' ? 'visually-hidden' %}
  <div{{ title_attributes.addClass(title_class) }}>{{ label }}</div>
{% endif %}

{%- for item in items -%}
  {%- if item.attributes.class -%}
    <div{{ item.attributes }}>
  {%- endif -%}
    {{ item.content }}
  {%- if item.attributes.class -%}
    </div>
  {%- endif -%}
{%- endfor -%}


{% if attributes.class %}
  </div>
{% endif %}
